@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background: linear-gradient(
        to right bottom,
        rgba(196, 219, 246, 0.7),
        rgba(231, 227, 212, 0.8)
    );
}
